html{
  font-family: 'Pacifico', cursive;
  box-sizing: content-box;
}
.list{
  list-style: none;
  font-size: 22px;
  color: blue;
}

.list__item{
  display: flex;
  align-items: center;
  justify-content: center;

  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  padding: 5px;
  width: 50%;
  margin-right: auto;
  margin-left: auto;

  background-color: #FAFAD2;

  transition: background-color 500ms linear, color 500ms linear;
}

.list__item:not(:last-child){
  margin-bottom: 3px;
}

.list__item:hover,
.list__item:focus{
  background-color:#87CEFA;
  color: #2F4F4F;
}